/* general page settings */

body {
  font-family: Verdana;
  text-align: center;
  background-color: black;
  color: white;
}

/* main header settings */
h1 {
  font-weight: 50px;
}

/* secondary header settings */
h2 {
  font-weight: 42px;
}

/* paragraph settings */
p {
  color: gray;
  font-weight: 21px;
}

/* download link settings */
.download {
  color: aquamarine;
  font-size: 16px;
}

/* footer settings */
.footer {
  text-align: right;
}
